


header {
  background: wheat;  
  padding: 2rem;
  margin: 10px 0 0 15px;
  width: 100%;
  width: 100%;
}
footer {
  background: wheat;
  padding: 2rem;
  margin: 10px 0 0 15px;
  width: 100%;
}
img{
  font-size: 30px;
  width: 32px;
  height: 32px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}
h2{
padding-left: 10px;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa {
  font-size: 30px;
  width: 32px;
  height: 32px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

#navList {
  margin-top: 0px;
   display: inline-block;
   width: 70%;
  margin-left: 0px;
   text-align: center;
  height: 50px;
}

#navList li {

  display: inline;
  float: left;
  list-style-type: none;
  padding: 0 5px;
}